In [1]:
%autosave 0

Autosave disabled

In [2]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

from adam_wrangle import train_val_test
from scipy import stats

Let's read in our dataset.

For reference, I have [documentation](https://www.brilliance.com/education/diamonds/depth-table) for the depth and table features of the dataset.

Here is more [information](https://www.vrai.com/journal/post/diamond-clarity-chart) on diamond clarity.

[Here](https://www.diamonds.pro/education/color/) we can learn more about diamond color.

Fun picture:
![Diamond clarity](diamond_quality.avif)

In [3]:
df = pd.read_csv('diamonds.csv', index_col=0)
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

What are some things we should do initially?

Now that we want to explore relationships between features in our dataset, what do we need to do?

What are some questions we want to ask of our data?

## Question 1

## Question 2

## Question 3