In [2]:
a = '10.9.9'
b = '10.9.8'

In [4]:
l = a.split('.')

In [5]:
l

['10', '9', '9']

In [ ]:
 	Goal
You are given a string s with letters and digits. You need to output on one line the string without digits. And on the second line the sum of all the digits in the string

Note :
Digits will always be positive integers.
If you have 2 digits in a row : you have to sum them
Example :
23a5 -> 2+3+5 = 10

Input
Line 1: A string, s
Output
Line 1: The string without digits
Line 2: The sum of all digits in the string
Constraints
1≤ length of s < 256
Atleast one digit in s
Example
Input
H3e1llo0 W8or2ld !

H3e1llo0 W8or2ld !
Output
Hello World !
14

### problem set
Your work has tasked you with sorting out some issues with the member numbers. All members should have a unique member number. The problem is someone has created a bunch of duplicate member numbers in your database. You have an incomplete copy of some SQL output from the database table for members. It shows at least the ID and the MEMBER_NUMBER for each member. All of the IDs will be unique. Your job is to return all sets of IDs from members with duplicated MEMBER_NUMBERs.

Here is an example of the SQL input:
5
ID,MEMBER_NUMBER
1,123456789
2,123456780
3,123456780
4,987654321
5,123456789

The SQL input shows two different sets of rows that have duplicated MEMBER_NUMBERs. Our outputs should be the IDs of the duplicated rows sorted by the smallest ID in the set, with the smaller ID listed first and the set separated by a comma. The desired output for the above input would be:
1,5
2,3

If there are no duplicates, return "NONE".
There may be additional SQL columns that can be ignored.
Input
Line 1: an integer COUNT signifying the number of data rows in the input
Line 2: a string of N HEADERS separated by commas
Next COUNT lines: rows of N pieces of member data as strings separated by comma with no additional white space.
Output
M rows of strings of two IDs separated by a comma, that correspond to rows that had duplicate MEMBER_NUMBERs.
If no duplicates exist, then a single string “NONE”.
Constraints
2 ≤ COUNT ≤ 100
Example
Input
5
ID,MEMBER_NUMBER
1,123456789
2,123456780
3,123456780
4,987654321
5,123456789
Output
1,5
2,3

In [ ]:
# sample code that solved above with 80% accuracy
import pandas as P
G=sorted(",".join(map(str,sorted(g["ID"].tolist())))for _,g in P.read_csv(open(0),skiprows=1).groupby("MEMBER_NUMBER")if len(g)>1)
G or-print("NONE")
for g in G:print(g)