In [1]:
import wrangle

In [3]:
df = wrangle.get_zillow()
df = wrangle.drop_zill(df)

In [4]:
df.head(2)

   bed  bath    sqft     value    year       tax    fips
4  4.0   2.0  3633.0  296425.0  2005.0   6941.39  6037.0
6  3.0   4.0  1620.0  847770.0  2011.0  10244.94  6037.0