In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import os

from env import get_connection

In [2]:
query = '''

SELECT bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, fips
FROM properties_2017
WHERE propertylandusetypeid = 261
;
'''

In [3]:
url = get_connection('zillow')

In [4]:
zillow = pd.read_sql(query,url)

In [ ]:
# rename column names
zillow = zillow.renmae(columns = {'bedroomcnt':'bed', 'bathroomcnt':'bath', 
                                  'calculatedfinishedsquarefeet': 'sqft', 'taxvaluedollarcnt': 'value', 
                                  'yearbuilt': 'year', 'taxamount':'tax'})

In [ ]:
# Change fips code to individual county code

In [5]:
zillow.shape

(2152863, 7)

In [6]:
zillow.isna().sum()

bedroomcnt                        11
bathroomcnt                       11
calculatedfinishedsquarefeet    8484
taxvaluedollarcnt                493
yearbuilt                       9337
taxamount                       4442
fips                               0
dtype: int64

In [7]:
# going to check the values of all the nulls and see if any values make sense

In [8]:
# all of the null bathroom are also null bedroom. Going ot drop these 11 columns. 
zillow[zillow.bedroomcnt.isna()]

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
107763,NaN,NaN,NaN,67366.0,1926.0,780.54,6059.0
118612,NaN,NaN,NaN,43992.0,1946.0,541.64,6059.0
193993,NaN,NaN,1348.0,840698.0,1952.0,NaN,6059.0
1141339,NaN,NaN,200.0,188972.0,NaN,NaN,6037.0
1324608,NaN,NaN,990.0,435000.0,1906.0,NaN,6037.0
1442975,NaN,NaN,NaN,273196.0,NaN,NaN,6037.0
1647346,NaN,NaN,400.0,28347.0,1954.0,NaN,6037.0
1701026,NaN,NaN,NaN,407930.0,1926.0,NaN,6037.0
1722707,NaN,NaN,NaN,477161.0,NaN,NaN,6037.0
1776422,NaN,NaN,NaN,38855.0,NaN,NaN,6037.0
1797985,NaN,NaN,NaN,1017957.0,1990.0,NaN,6037.0

In [9]:
# Dropping all null values
# Drops 12,628 observations
zillow = zillow.dropna()

In [10]:
zillow.shape

(2140235, 7)

In [12]:
zillow.isna().sum()

bedroomcnt                      0
bathroomcnt                     0
calculatedfinishedsquarefeet    0
taxvaluedollarcnt               0
yearbuilt                       0
taxamount                       0
fips                            0
dtype: int64

In [22]:
zillow.fips.nunique()

3

In [ ]:
# next checking for spaces in data
# Does not apear ot be any blanck spaces
# Takes a long time to check

In [21]:
for col in zillow.columns:
    filtered_rows = zillow[zillow[col] == '']
    
    if not filtered_rows.empty:
        print(f"Rows with empty strings in column '{col}':")
        print(filtered_rows)
        print()
        print()

In [ ]:
# change data types.
# most int. Bathrooms can be floats.

In [ ]:
# When Data is clean go ahead and save to CSV
#